.dashboard-project {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: space-between;
}

.dashboard-project-title {
  cursor: pointer;
  margin: 0.5rem;
  text-align: left;
  width: 550px;
}

.dashboard-project-btns {
  margin: 0.5rem;
  width: 150px;
}

.counter {
  margin: 0 0.5rem;
}

.dashboard-add-skill-btn,
.dashboard-add-project-btn {
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-4);
  border: 1px solid var(--color-3);
  border-radius: 0.25rem;
  color: var(--color-0);
  padding: 10px 20px;
}

.dashboard-delete-project-btn {
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-4);
  border: 1px solid var(--color-3);
  border-radius: 0.25rem;
  color: var(--color-0);
  padding: 10px 20px;
  margin: 0.5rem;
}

.dashboard-update-project-btn {
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-4);
  border: 1px solid var(--color-3);
  border-radius: 0.25rem;
  color: var(--color-0);
  padding: 10px 20px;
  margin: 0.5rem;
}
