:root {
  --color-0: #fff;
  --color-1: #15202b;
  --color-2: #192734;
  --color-3: #164d56;
  --color-4: #1d6772;
  --color-5: #111921;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 900;
}

p {
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  background-color: var(--color-1);
  color: var(--color-0);
}

.container {
  margin: auto;
  text-align: center;
  width: 88%;
}

.horizontal-rule {
  border: 1px solid var(--color-3);
  margin: 3rem auto;
  width: 20%;
}

.loading-text {
  font-size: 2rem;
  margin: 3rem;
}

@media (max-width: 1000px) {
  .navbar-links {
    background-color: var(--color-1);
    display: none;
    flex-direction: column;
    position: absolute;
    top: 11.9vh;
    left: 0;
    width: 100%;
  }

  .navbar-link {
    font-size: 0.9rem;
    width: 110px;
  }

  .navbar-item {
    margin: 1rem 0;
  }

  .navbar-button,
  .logout-button {
    display: inline-block;
    font-size: 0.9rem;
    padding: 7px 14px;
    width: 110px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .terminal {
    height: 95%;
  }

  .title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 0.9rem;
  }

  .setting-note {
    font-size: 0.6rem;
  }

  .skill {
    font-size: 0.7rem;
    margin: 0.3rem;
  }

  .project-links {
    margin: 1rem 0;
  }

  .project-link {
    font-size: 0.7rem;
    margin: 0.3rem 0.5rem;
  }

  .project-date {
    font-size: 0.7rem;
    margin: 1rem 0;
    text-align: center;
  }

  .dashboard-skill {
    font-size: 0.7rem;
    margin: 0.3rem;
  }

  .counter {
    margin: 0 0.3rem;
  }

  .dashboard-project {
    justify-content: center;
  }

  .dashboard-project-title {
    text-align: center;
  }

  .dashboard-delete-project-btn,
  .dashboard-update-project-btn {
    font-size: 0.7rem;
    margin: 0.4rem;
  }

  #footer .container {
    padding: 15% 2%;
  }
}

.navbar-active {
  display: flex;
}
