.project-preview {
  background-color: #fff;
  border: 1px solid var(--color-3);
  border-radius: 0.25rem;
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  height: 450px;
  margin: 1rem;
  overflow: hidden;
  max-width: 450px;
  min-width: 270px;
}

.project-preview-img {
  border-bottom: 1px solid var(--color-3);
  height: 50%;
  width: 100%;
}

.project-preview-title {
  color: #000;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
