.add-project-btn-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.project-btn {
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-4);
  border: 1px solid var(--color-3);
  border-radius: 0.25rem;
  color: var(--color-0);
  padding: 10px 20px;
}

.project-input-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin-bottom: 1rem;
}

.input-project-title,
.input-project-tags,
.input-project-repo,
.input-project-link {
  background-color: var(--color-2);
  border: 1px solid var(--color-3);
  border-radius: 0.25rem;
  color: var(--color-0);
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}

.file-input-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.input-project-image {
  font-size: 1rem;
  margin: 1rem 0;
}

::-webkit-file-upload-button {
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--color-4);
  border: 1px solid var(--color-3);
  border-radius: 0.25rem;
  color: var(--color-0);
  padding: 10px 20px;
}
